:root {
  /* Couleur*/
  --background-color: #fffdf9;
  --card-background: #fff7ce;
  --primary-color: #fec532;
  --secondary-color: #b79dec;
  --third-color: #e87172;
  --text-color: #4c4b48;

  /*Police*/
  --h1font: "Yomogi";
  --titlesfont: "Nanum Pen Script";
  --primaryfont: "Jura";
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: var(--primaryfont);
}

h1 {
  font-family: var(--h1font);
  font-size: 4em;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}
