:root {
  /* Couleur*/ 
--background-color:#FFFDF9;
--card-background: #FFF7CE;
--primary-color:#FEC532;
--secondary-color:#B79DEC; 
--third-color:#E87172;
--text-color:#4C4B48;
--third-color-hover:#ce6263;


/*Police*/ 
--h1font : "Yomogi";
--titlesfont: "Nanum Pen Script";
--primaryfont: "Jura";
}


* {box-sizing: border-box;
margin:0;}

body{background-color: var(--background-color);
  font-size:16px;
}

h1 {font-family: var(--h1font);
  font-size: 4em;
  color: var(--text-color)
}