:root {
  /* Couleur*/
  --background-color: #fffdf9;
  --card-background: #fffdf9;
  --primary-color: #fc8d17;
  --secondary-color: #b79dec;
  --third-color: #e87172;
  --fourth-color: #f9e2ca;
  --text-color: #4c4b48;
  --footer-text-color: black;
  --third-color-hover: #7455b0;

  /*Police*/
  --h1font: "Shrikhand";
  --titlesfont: "Advent Pro";
  --primaryfont: "Jura";
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: var(--primaryfont);
  background-color: var(--background-color);
}
h1 {
  font-family: var(--h1font);
  font-size: 4em;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

