.notification {
  position: absolute;
  width: max-content;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.375rem;
  background-color: green;
  color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(1.875rem);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 3s linear;
  z-index: 999;
}

.notification__icon {
  height: 1.625rem;
  width: 1.625rem;
  margin-right: 0.25rem;
}

.notification__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
}

.notification__progress {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  width: calc(100% - 0.5rem);
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(to right, green, white);
  border-radius: inherit;
  animation: progress 2.5s 0.3s linear;
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  to {
    transform: scaleX(1);
  }
}
