/*General*/
body {
  color: var(--text-color);
  font-size: 1em;
}

.titleRubrique {
  font-family: var(--titlesfont);
  font-size: 3em;
  margin-top:0.6em;
  margin-bottom:0.6em;
  font-weight: lighter;
  text-align: center;
  color:var(--primary-color);
  font-weight:bold
}

/* ensemble des cards*/
.cardsContainerFav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fourth-color);
  gap: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 90vw;
  margin: auto;
  margin-bottom: 2em;
  border-radius:15px

}

/* une seule card*/
.cardContainerFav {
  background-color: var(--background-color);
  font-family: var(--primaryfont);
  border-radius: 5px;
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textandbuttonsCartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* image */
.imgSocksFav {
  height: 5em;
  width: 5em;
  border-radius: 5px 0 0 5px;
}

/* text */
.cardTextFav {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2vw;
  width: 80vw;
}

.sizeFav {
  font-size: 0.8em;
}
.priceFav {
  text-align: right;
}

/* buttons */

.cardButtonsFav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5vw;
}

.cardButtonsFav > button {
  background-color: transparent;
  border: none;
}

.cardButtonsFav > button:hover {
  cursor: pointer;
}

.cardButtonsFav > button > img {
  height: 5vh;
}

@media screen and (min-width: 992px) {
  .buttonCloseDeliveryPayment {
    display: none;
  }

  .cardContainerFav {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .cardTextFav {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2vw;
    width: 25vw;
  }

  .cardsContainerFav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-color);
    gap: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 70vw;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 2em;
  }
}
