/*General*/
body {
  color: var(--text-color);
}

.titleLivraison {
  margin-top: 0.5em;
}

/*Delivery*/
.deliveryDate {
  font-family: var(--titlesfont);
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
}
.contactContainer {
  width: 80vw;
}
/*Payment*/
.creditCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.fakeCardsImg {
  width: 8em;
}

.buttonFakeCards {
  background-color: transparent;
  border: none;
}
.confirmationMessagePayment {
  font-size: 1.1em;
  padding: 1em 0 1em 0;
}
.infosClient {
  font-weight: bold;
}

/*Both*/

.inputDelivery {
  width: 80vw;
  margin-top: 0.5em;
  border-radius: 5px;
  border: solid 1px var(--text-color);
  height: 2.5em;
}
.numberInput {
  width: 5em;
  margin-top: 0.5em;
  border-radius: 5px;
  height: 2.5em;
  border: solid 1px var(--text-color);
}

.containerInputNumber {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1em;
}

.deliverySection,
.paymentSection {
  background-color: var(--fourth-color);
  text-align: center;
  font-family: var(--primaryfont);
  padding: 0.5em;
  border-radius: 15px;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 2em;
}

.deliveryForm,
.paymentForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.paymentForm {
  align-items: flex-start;
}

.affichageTotal {
  color: var(--primary-color);
  padding: 1em;
}

.deliveryFormContainer > input {
  width: 70vw;
  font-size: 1em;
  font-family: var(--primaryfont);
  border: var(--text-color) 1px solid;
  border-radius: 3px;
  text-align: center;
}
.choixpaiement {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .contactTitle {
    text-align: left;
    margin-bottom: 1em;
  }
  .affichageTotal {
    font-size: 2em;
  }
  .inputDelivery {
    width: 20vw;
    height: 2em;
  }

  .deliveryFormContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 50vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .deliveryForm {
    margin-bottom: 2em;
  }

  .deliverySection {
    width: 90vw;
    margin: auto;
    margin-bottom: 2em;
  }

  .paymentSection {
    width: 40vw;
    margin: auto;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .choixpaiement {
    margin: auto;
  }
}
