.navigation {
  background-color: var(--primary-color);
}

.buttonsNavBar {
  background-color: var(--background-color);
  border-radius: 50%;
  height: 7vh;
  margin-top: 5vh;
  margin-right: 0.5em;
  padding: 0.8em;
}

.shopNavBar {display:none}
.buttonsNavBar:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.h1andButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.h1andButtonsContainer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.textlabelnav {
  font-size: 0px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.itemsCountContainer {background-color: var(--secondary-color);
  height:3vh;
  width: 3vh;
  border-radius: 10px;
  position:relative;
  bottom:10px;
right:5px;
  color:var(--background-color);

  text-align: center;

}
.image_logo {
  display: none;
}

.shopNavBar {display:block}
.h1FeetAndFun {
  font-size: 3em;
  text-align: center;
  color: var(--background-color);
}

.imagetraitsburger {
  width: 30px;
  margin-top: 0.5em;
}
.bouton_menu_burger {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 0.5em;
  margin-left: 0.5em;
  border: none;
}

.and {
  color: rgb(243, 241, 192);
  position: relative;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  display: inline-block;
  font-size: 0.8em;
}

.searchInNav {
  display: none;
}

.groupeBoutonsNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 992px) {

  .navigation {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .buttonsNavBar{ height: 6vh;
  }

  .bouton_menu_burger {
    display: none;
  }
  .searchInNav {
    display: inline-block; 
    width:20vw;
    border-radius: 20px;

  }

  .groupeBoutonsNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    
  }
  .image_logo {
    display: block;
    width: 3em;
    height: 3em;
    padding: 0.2em;
    border: none;
  
  }

  .h1FeetAndFun {
    font-size: 3em;
  }

.itemsCountContainer {background-color: var(--secondary-color);
  height:3vh;
  width: 3vh;
  border-radius: 10px;
  position:relative;
  bottom:10px;
  color:var(--background-color);

  text-align: center;

}
  
}
