.cardAccueil {
  position: relative;
  width: 100vw;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ContainerAccueil {
  position: relative;
}

.image1Accueil,
.image3Accueil {
  display: none;
}

.image2Accueil {
  width: 100%;
  margin-top: -18px;
}

.eventContent {
  position: absolute;
  height: 20vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 80vw;
}

.eventTitle {
  padding: 1em;
  background-color: rgb(249, 226, 202, 0.9);
  border-radius: 10px;
}

.eventButton {
  padding: 0.5em;
  border: 2px solid rgb(250, 238, 207);
  border-radius: 10px;
  background-color: var(--primary-color);
  font-family: var(--primaryfont);
  color: var(--background-color);
  cursor: pointer;
}

.eventCard {
  margin-top: 0;
}
.nouveautés {
  display: none;
}

@media screen and (min-width: 992px) {
  .home-background {
    position: relative;
    z-index: -10;
    width: 100vw;
  }
  /* sections d'évènement */
  .nouveautésSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .eventCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: inherit;
  }

  .cardAccueil {
    width: auto;
  }

  /* titre nouveauté */
  .nouveautés {
    display: block;
    width: 30vw;
    height: 80vh;
    padding-top: 38vh;
    background-color: var(--background-color);
    font-family: var(--primaryfont);
    text-align: center;
  }

  /* images évenèments */

  .ContainerAccueil {
    max-width: 70vw;
  }
  .imgContainerAccueil {
    display: flex;
    height: 30vh;
    width: 70vw;
    margin: auto;
    background-color: var(--background-color);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }

  .image1Accueil,
  .image2Accueil,
  .image3Accueil {
    display: block;
    object-fit: cover;
    max-height: 30vh;
    transition: transform 1s ease-in-out;
    transform: translateX(0);
    margin: 0;
  }

  .image1Accueil,
  .image2Accueil,
  .image3Accueil,
  .eventButton {
    transition: all 0.3s ease;
  }

  /* Transfo des images et du bouton au survol  */
  .cardAccueil:hover .image1Accueil {
    transform: translateX(-10px);
  }
  .cardAccueil:hover .image3Accueil {
    transform: translateX(10px);
  }
  .cardAccueil:hover .image2Accueil {
    opacity: 0.6;
  }
  .cardAccueil:hover .eventButton {
    transform: scale(1.1);
  }

  /* texte et boutton */
  .eventContent {
    width: 25vw;
    bottom: 40vh;
  }

  .eventTitle {
    font-size: 1.2em;
  }
}
