.imgMenuHome {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.catalogue {
  width: 45vw;
  height: 45vw;
  background-color: var(--fourth-color);
}

.cataloguetitre {
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  text-align: center;
  z-index: 3;
  font-size: 1.1em;
  margin-left: -8vw;
  margin-top: -3vh;
}
.fondMenuHome {
  width: 45vw;
  height: 45vw;
  background-color: var(--primary-color);
  border-radius: 20px;
}
.carréImageMenu {
  width: 45vw;
  height: 45vw;
}

.MenuHomeCatTitle {
  color: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
  font-size: 2em;
}

.menuLink {
  position: relative;
}

@media screen and (min-width: 992px) {
  .imgMenuHome {
    display: none;
  }
  .MenuHomeCatTitle {
    display: none;
    position: inherit;
  }
  .imgMenuHome {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
    margin: 0;
    background-color: var(--fourth-color);
    position: inherit;
  }

  .fondMenuHome {
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
    perspective: 1000px;
  }
  .fondMenuHome-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: var(--primary-color);
    border-radius: 20px;
  }

  .fondMenuHome:hover .fondMenuHome-front {
    transform: rotateY(180deg);
  }

  .fondMenuHome:hover .MenuHomeCatTitle {
    display: block;
  }
  .fondMenuHome-front,
  .fondMenuHome-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .fondMenuHome:hover {
    transform: scale(1.2);
  }

  .carréImageMenu {
    width: 10vw;
    height: 10vw;
    border-radius: 20px;
  }
  .catalogue {
    width: 18vw;
    height: 30vh;
    background-color: var(--fourth-color);
    margin-right: 14vw;
  }
  .cataloguetitre {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: -8vw;
  }
}
