.product-details {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 999;
  overflow-y: scroll;
  transform: translateY(100%);
}

.product-details.open {
  display: block;
  animation-name: slideTop;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.product-details.close {
  display: block;
  animation-name: slideBottom;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.product-details .exit-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product-details .product-picture img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

.product-details .product-desc h3 {
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--primary-color);
  text-align: center;
}

.product-details .product-desc p {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.product-details span {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.product-details #price {
  font-weight: 600;
  font-size: 1.5rem;
}

.product-footer {
  display: flex;
  justify-content: space-between;
}

.product-details .product-footer {
  display: flex;
  flex-direction: column;
}

.product-details .product-cart {
  display: flex;
}

.product-details .add-to-cart {
  width: 100%;
  padding: 0.3rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.1rem;
  background-color: var(--secondary-color);
  border-radius: 3px;
  border: solid 1px black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: "Montserrat";
  cursor: pointer;
}

.product-details .like {
  width: 11%;
  max-width: 2rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  border-radius: 3px;
  border: solid 1px black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.product-details .product-cart button:active {
  box-shadow: none;
}

/* ANIMATION OUVERTURE DU COMPOSANT */
@keyframes slideTop {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

/* ANIMATION FERMETURE DU COMPOSANT */
@keyframes slideBottom {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

@media screen and (min-width: 992px) {
  .product-details {
    height: 50vh;
    overflow-y: visible;
    display: flex;
    border-top: solid 1px black;
  }

  .product-details .exit-btn {
    top: 0.4rem;
  }

  .product-details .product-picture img {
    width: auto;
    height: 100%;
    margin-top: 0;
    margin-right: 1rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .product-details .product-desc {
    margin-right: 3rem;
  }

  .product-details .product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
