@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Racing+Sans+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Racing+Sans+One&family=Slackey&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Nanum+Pen+Script&family=Racing+Sans+One&family=Slackey&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Nanum+Pen+Script&family=Racing+Sans+One&family=Slackey&family=Vampiro+One&display=swap");

.categories {
  display: none;
}

@media screen and (min-width: 992px) {
  .nanum-pen script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-style: normal;
  }

  .racing-sans one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
  }

  .slackey-regular {
    font-family: "Slackey", sans-serif;
    font-style: normal;
  }

  .marko-one-regular {
    font-family: "Marko One", serif;
    font-style: normal;
  }

  .vampiro-one-regular {
    font-family: "Vampiro One", system-ui;
    font-style: normal;
  }

  .categories {
    display: block;
    width: 100%;
    height: 4.5em;
    background-color: var(--primary-color);
    position: relative;
    top: 0px;
  }

  .ulCategories {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    font-size: 30px;
  }

  .categories button:hover,
  .end-navigation.navigation-footer:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    color: var(--secondary-color);
    text-shadow: 5px 5px 5px black;
    cursor: pointer;
  }

  .button_art_active {
    font-family: "Nanum Pen Script", cursive;
    font-size: 48px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    padding: -10px;
    color: var(--secondary-color);
    transform: scale(1.2);
    text-shadow: 5px 5px 5px black;
  }

  .button_art {
    font-family: "Nanum Pen Script", cursive;
    font-size: 48px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    padding: -10px;
    color: var(--text-color);
  }

  .button_sport_active {
    font-family: "Racing Sans One", sans-serif;
    font-size: 35px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    padding: -10px;
    color: var(--secondary-color);
    transform: scale(1.2);
    text-shadow: 5px 5px 5px black;
  }

  .button_sport {
    font-family: "Racing Sans One", sans-serif;
    font-size: 35px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    padding: -10px;
    color: var(--text-color);
  }

  .button_geek_active {
    font-family: "Slackey", sans-serif;
    font-size: 30px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    padding: -10px;
    transform: scale(1.2);
    color: var(--secondary-color);
    text-shadow: 5px 5px 5px black;
  }

  .button_geek {
    font-family: "Slackey", sans-serif;
    font-size: 30px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    padding: -10px;
    color: var(--text-color);
  }

  .button_anime_active {
    font-family: "Marko One", serif;
    font-size: 30px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    padding: -10px;
    transform: scale(1.2);
    color: var(--secondary-color);
    text-shadow: 5px 5px 5px black;
  }

  .button_anime {
    font-family: "Marko One", serif;
    font-size: 30px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    padding: -10px;
    color: var(--text-color);
  }

  .button_festif_active {
    font-family: "Vampiro One", system-ui;
    font-size: 30px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    padding: -10px;
    color: var(--text-color);
    transform: scale(1.2);
    color: var(--secondary-color);
    text-shadow: 5px 5px 5px black;
  }

  .button_festif {
    font-family: "Vampiro One", system-ui;
    font-size: 30px;
    background-color: var(--primary-color);
    border: var(--primary-color);
    padding: -10px;
    color: var(--text-color);
  }
}
