.sizelist-desktop {
  display: none;
}

@media screen and (min-width: 992px) {
  .sizelist-desktop {
    display: block;
    margin-right: 3rem;
    font-family: "Montserrat";
  }

  .sizelist-desktop button {
    margin-left: 1rem;
    padding: 0.3rem 0.5rem;
    background-color: var(--secondary-color);
    border: solid black 1px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
  }

  .sizelist-desktop button#active {
    background-color: var(--primary-color);
  }

  .sizelist-desktop button:active {
    box-shadow: none;
  }

  .sizelist-desktop button#disabled:active {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
