@font-face {
  font-family: Nanum Pen;
  src: url(../components/fonts/NanumPenScript-Regular.ttf);
}
@font-face {
  font-family: Racing Sans One;
  src: url(../components/fonts/RacingSansOne-Regular.ttf);
}
@font-face {
  font-family: Slackey;
  src: url(../components/fonts/Slackey-Regular.ttf);
}
@font-face {
  font-family: Marko One;
  src: url(../components/fonts/MarkoOne-Regular.ttf);
}
@font-face {
  font-family: Vampiro One;
  src: url(../components/fonts/VampiroOne-Regular.ttf);
}
.social-icon {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}
.icon {
  color: #4c4b48;
  margin: 0 1rem;
}
.icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--primary-color);
  gap: 1.5em;
}
.footer-box span {
  font-weight: bolder;
  font-size: larger;
  color: var(--background-color);
}
.footer-box h6 {
  font-family: jura;
  justify-content: center;
  align-items: center;
}
.navigation-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 25px;
  align-items: center;
}
.color-nav {
  color: var(--background-color);
}
.footer-box a {
  text-decoration: none;
}
/***************************************FONTS *****************/
.art-font {
  font-family: Nanum Pen;
  font-weight: bolder;
  font-size: larger;
}
.sports-font {
  font-family: Racing Sans One;
}
.geek-font {
  font-family: Slackey;
}
.anime-font {
  font-family: Marko One;
}
.festif-font {
  font-family: Vampiro One;
}
