/*General*/
body {
  color: var(--text-color);
  text-align: right;
  font-size: 1em;
}

h2 {
  font-family: var(--titlesfont);
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
}
h3 {
  text-align: center;
}
.totalCart {
  font-size: 2em;
  padding-top: 1em;
}

.sectionCart {
  background-color: var(--background-color);
  z-index: 999;
}
/* ensemble des cards*/
.cardsContainerCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdf5e9;
  gap: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 85vw;
  margin: auto;
  border-radius: 15px;
}

/* une seule card*/
.cardContainerCart {
  background-color: white;
  font-family: var(--primaryfont);
  border-radius: 5px;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textandbuttonsCartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* image */
.imgSocksCart {
  height: 5em;
  width: 5em;
  border-radius: 5px 0 0 5px;
}

/* text */
.cardTextCart {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2vw;
  width: 80vw;
}

.sizeCart {
  font-size: 0.8em;
}
.priceCart {
  text-align: right;
}

/* buttons */

.buttonCloseDeliveryPayment {
  background-color: transparent;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--third-color);
  cursor: pointer;
}

.cardButtonsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5vw;
}

.cardButtonsCard > button {
  background-color: transparent;
  border: none;
}

.cardButtonsCard > button:hover {
  cursor: pointer;
}

.cardButtonsCard > button > img {
  height: 3vh;
}

.cartValidationButton {
  margin-top: 1em;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  text-align: center;
  color: var(--background-color);
  cursor: pointer;
  font-family: var(--primaryfont);
  font-size: 1.1em;
  font-weight: bolder;
  width: fit-content;
  padding: 0.5em;
}

@media screen and (min-width: 992px) {
  .buttonCloseDeliveryPayment {
    display: none;
  }

  .cardContainerCart {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .cardTextCart {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2vw;
    width: 80vw;
  }

  .cardsContainerCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 245, 233);
    gap: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 72vw;
    margin: auto;
    border-radius: 15px;
  }
}
