/*General*/
body {
  color: var(--text-color);
  font-size: 1em;
}

.sectionCart {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  margin: auto;
  width: 90vw;
  padding-bottom: 5vh;
}

.titleFavoris {
  font-family: var(--titlesfont);
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
}

.totalCart {
  font-size: 1.5em;
  padding-top: 1em;
}

.promo-code {
  margin-top: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-promo-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

#input-promo {
  width: 50%;
  margin-right: 0.5rem;
  text-align: center;
}

#input-promo::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

.input-promo-container #btn-promo {
  width: 35%;
  margin: 0;
  margin-bottom: 2px;
}

#good-code {
  font-size: 0.8rem;
}

#wrong-code {
  color: red;
  font-size: 0.8rem;
}

/* ensemble des cards*/
.cardsContainerCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  gap: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 90vw;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 2em;
}

/* une seule card*/
.cardContainerCart {
  background-color: white;
  font-family: var(--primaryfont);
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textandbuttonsCartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* image */
.imgSocksCart {
  height: 5em;
  width: 5em;
  border-radius: 5px 0 0 5px;
}

/* text */
.cardTextCart {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2vw;
  width: 80vw;
}

.sizeCart {
  font-size: 0.8em;
}
.priceCart {
  text-align: right;
}

/* buttons */

.cardButtonsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5vw;
}

.buttonsAddAndDelete > button {
  background-color: transparent;
  border: none;
}

.buttonsAddAndDelete > button > img {
  height: 4vh;
}
.quantityCart > button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}

.quantityCart {
  display: flex;
  flex-direction: row;
}

.quantityCart > input {
  width: 7vw;
  text-align: center;
  font-size: 0.8em;
}
.cartValidationButton,
.cartKeepShoppingButton,
#btn-promo {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  text-align: center;
  color: var(--background-color);
  border: 2px var(--text-color) solid;
  box-shadow: 1px 2px 1px black;
  cursor: pointer;
  height: fit-content;
  font-size: 0.6em;
  font-weight: bolder;
  width: fit-content;
  padding: 0.5em;
  margin: 0.5em;
}

.totalCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid var(--fourth-color);
  padding: 0.5em;
}

.buttonsContainerCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  padding-bottom: 0;
}

@media screen and (min-width: 992px) {
  .sectionCart {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: auto;
    width: 90vw;
    padding-bottom: 5vh;
  }
  .imgSocksCart {
    height: 6em;
    width: 6em;
    border-radius: 5px 0 0 5px;
  }

  .cardContainerCart {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .cardTextCart {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2vw;
    width: 30vw;
    font-size: 1.5em;
  }

  .cardsContainerCart {
    display: flex;
    width: 40vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    gap: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 15px;
    margin: 0;
  }

  .cartSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .totalCart {
    /* height: 30vh; */
    /* margin-top: 5vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--fourth-color);
    padding: 1rem;
    font-size: 2em;
  }
  .buttonsContainerCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 1rem;
  }

  .cartValidationButton,
  .cartKeepShoppingButton {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    text-align: center;
    color: var(--background-color);
    border: 2px var(--text-color) solid;
    box-shadow: 1px 2px 1px black;
    cursor: pointer;
    height: fit-content;
    font-size: 0.6em;
    font-weight: bolder;
    width: fit-content;
    padding: 0.5em;
    margin: 0.5em;
  }

  .cartValidationButton:hover,
  .cartKeepShoppingButton:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .cartKeepShoppingButton {
    font-size: 0.4em;
  }
}
