@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Racing+Sans+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Racing+Sans+One&family=Slackey&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Nanum+Pen+Script&family=Racing+Sans+One&family=Slackey&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Nanum+Pen+Script&family=Racing+Sans+One&family=Slackey&family=Vampiro+One&display=swap");

.categories {
  display: none;
}

@media screen and (min-width: 992px) {
  .nanum-pen script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-style: normal;
  }

  .racing-sans one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
  }

  .slackey-regular {
    font-family: "Slackey", sans-serif;
    font-style: normal;
  }

  .marko-one-regular {
    font-family: "Marko One", serif;
    font-style: normal;
  }

  .vampiro-one-regular {
    font-family: "Vampiro One", system-ui;
    font-style: normal;
  }

  .categories {
    display: block;
    width: 100%;
    height: 4em;
    background-color: var(--primary-color);
    position: relative;
    top: 0px;
  }

  .ulCategories {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    cursor: pointer;
    font-size: 30px;
    color: var(--text-color);
  }

  li:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    color: var(--secondary-color);
    text-shadow: 5px 5px 5px black;
  }

  li:nth-child(1) {
    font-family: "Nanum Pen Script", cursive;
    font-size: 48px;
  }

  li:nth-child(2) {
    font-family: "Racing Sans One", sans-serif;
    font-weight: lighter;
  }

  li:nth-child(3) {
    font-family: "Slackey", sans-serif;
  }

  li:nth-child(4) {
    font-family: "Marko One", serif;
  }

  li:nth-child(5) {
    font-family: "Vampiro One", system-ui;
  }
}
