.container {
  max-width: 960px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.title {
  margin-bottom: 50px;
}

.title span {
  display: block;
}

.title .primary {
  font-size: clamp (26px, 5vw, 52px);
  text-transform: uppercase;
  color: #fff;
}

.gallery-wrapper {
  display: flex;
  gap: 1vw;
}
.gallery-item {
  position: relative;
  isolation: isolate;
  display: flex;
  gap: 2vw;
  flex: 1;
  height: 500px;
  background-color: #fff;
  padding: 25px;
  opacity: 1;
  overflow: hidden;
  transition:
    flew 0.1s,
    opacity 2s;
}

.gallery-item:hover {
  opacity: 1;
  flex: 5;
}

.gallery-item:not(:hover) {
  opacity: 1;
}

.item-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-description {
  align-self: flex-end;
  color: var(--text-color);
}

.name {
  font-size: 37px;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0, 0.3);
  padding-inline: 10px;
  transform: translateY(-10px);
  color: var(--background-color);
}

.role {
  display: inline-block;
  background-color: var(--fourth-color);
  padding: 10px;
  box-shadow: 0px 1px 10px rgb (0, 0, 0, 0.2);
  transform: translateY(10px);
}

.role {
  opacity: 0;
  transition:
    opacity 0s,
    transform 0s;
  transition-delay: 0s;
}

.gallery-item:hover .name,
.gallery-item:hover .role {
  opacity: 1;
  transfom: translateY(0);
}

.gallery-item:not(:hover) .name,
.gallery-item:not(:hover).role {
  transition-delay: 0s;
}

@media screen and (max-width: 991px) {
  .item-image {
    max-width: 100vw;
    max-height: 100vw;
  }

  .gallery-wrapper {
    flex-direction: column;
  }

  .gallery-item:hover {
    flex-basis: 100%;
  }

  .name,
  .role {
    background-color: var(--fourth-color);
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    z-index: 9999;
  }
  .role {
    display: block;
  }
}
