.About {
  background-color: var(--background-color);
  color: var(--text-color);
}



.Section-histoire,
.Section-philosophie,
.Section-équipe {
  color: var(--text-color);
  text-align: center;
  padding-bottom: 2em;
  margin-bottom: -20px;
}

.Section-histoire {
  background-color: rgb(250, 225, 179);
}
.Section-philosophie {
  background-color: rgb(250, 213, 145);
}
.Section-équipe {
  background-color: rgb(248, 199, 109);
  margin-bottom: 1em;
}
.Img-history {
  width: 100vw;
}

.equipeContent,
.philoContent,
.histoireContent {
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Text {
  text-align: center;
  padding-top: 0.5em;
  width: 95vw;
}

.History {
  margin-top: 1em;
  margin-bottom:1em
}
@media screen and (min-width: 750px) {
.About {margin-bottom:2em}
.Section-histoire,
.Section-philosophie,
.Section-équipe {
  display: block;
  color: var(--text-color);
  width:fit-content;
  padding-bottom:0px;
  margin-bottom: 0px;
  height:30vh;
  padding-right:2em;
  border-radius : 0px 20px 20px 0px
}
.Section-histoire{position:relative;
  left:10vw;


}
.Section-philosophie{position:relative;
  left:20vw;

}

.Section-équipe{position:relative;
  left:30vw;

}


  .equipeContent,
  .histoireContent {
    display: flex;
    margin-top: 1em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:3vw
}
    .philoContent {
      display: flex;
      margin-top: 1em;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap :3vw
  
  }

  .Text {
    text-align: justify;
    padding-top: 0.5em;
    width: 40vw;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:30vh;
  }
 
  .Img-history {
    height: 30vh;
    width: 30vh;
  }

  
  .About-h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
  }
}
