/*General*/
body {
    color: var(--text-color);
    text-align: right;
    font-size: 1em;
  }

h2 {
    font-family: var(--titlesfont);
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
  }
h3 {
    text-align: center;
  }


/* ensemble des cards*/ 
  .cardsContainerFav {display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 245, 233);
    gap:0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width:92vw;
    margin:auto;
    border-radius: 15px;
    
    }

/* une seule card*/ 
.cardContainerFav{
  background-color: white;
  font-family: var(--primaryfont);
  border-radius: 5px;
  width:90vw;
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}

.textandbuttonsCartContainer {display:flex;
    flex-direction: row;
    justify-content: space-between;}


/* image */ 
.imgSocksFav {height:5em;
width: 5em;
border-radius: 5px 0 0 5px;}

/* text */ 
.cardTextFav{text-align: start;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left:2vw;
  width:80vw}

.sizeFav {font-size: 0.8em;
}
.priceFav {text-align: right;}

/* buttons */ 

.buttonCloseDeliveryPayment {
  background-color: transparent;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--third-color);
  cursor: pointer;
}

.cardButtonsFav {display:flex;
flex-direction: column;
justify-content: space-evenly;
padding-left:5vw}

.cardButtonsFav > button {background-color:transparent;
  border:none }
  
.cardButtonsFav > button:hover {cursor: pointer;}
  
.cardButtonsFav > button > img {height:3vh}




@media screen and (min-width: 992px) {

  .buttonCloseDeliveryPayment {display:none}
  


  .cardContainerFav{
    width:70vw;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
  }

  .cardTextFav{text-align: start;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left:2vw;
  width:80vw}

  .cardsContainerFav {display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 245, 233);
    gap:0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width:72vw;
    margin:auto;
    border-radius: 15px;
   
    
    }

  }