@font-face {
  font-family: Nanum Pen;
  src: url(../components/fonts/NanumPenScript-Regular.ttf);
}
@font-face {
  font-family: Racing Sans One;
  src: url(../components/fonts/RacingSansOne-Regular.ttf);
}
@font-face {
  font-family: Slackey;
  src: url(../components/fonts/Slackey-Regular.ttf);
}
@font-face {
  font-family: Marko One;
  src: url(../components/fonts/MarkoOne-Regular.ttf);
}
@font-face {
  font-family: Vampiro One;
  src: url(../components/fonts/VampiroOne-Regular.ttf);
}
.social-icon {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}
.icon {
  color: #4c4b48;
  margin: 0 1rem;
}
.icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--primary-color);
  gap: 1.5em;
}
span {
  font-weight: bolder;
  font-size: larger;
  color: var(--background-color);
}
h6 {
  font-family: jura;
  justify-content: center;
  align-items: center;
}
.navigation-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 25px;
  align-items: center;
}
.color-nav {
  color: var(--background-color);
}
.color-nav:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
a {
  text-decoration: none;
}
/***************************************FONTS *****************/
.art-font {
  font-family: Nanum Pen;
  font-weight: bolder;
  font-size: larger;
}
.sports-font {
  font-family: Racing Sans One;
}
.geek-font {
  font-family: Slackey;
}
.anime-font {
  font-family: Marko One;
}
.festif-font {
  font-family: Vampiro One;
}
@media only screen and (min-width: 992px) {
  .footer-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--primary-color);
    padding: 1rem;
  }
  .social-icon {
    display: grid;
    grid-area: 2 / 1 / 4 / 2;
    grid-template-columns: repeat(3, 1fr);
  }
  .navigation-footer {
    display: grid;
    grid-area: 1 / 4 / 4 / 5;
  }
  .color-nav {
    color: var(--background-color);
  }
  .end-navigation {
    justify-self: end;
    padding: 1rem;
  }

  .copieright {
    grid-area: 3 / 2 / 4 / 4;
  }
  .center {
    display: flex;
    justify-self: center;
    align-items: end;
  }
  span {
    font-weight: bolder;
    color: var(--background-color);
  }
  h6 {
    font-family: jura;
  }
  .color-nav:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  .icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  a {
    text-decoration: none;
  }
  /**Fonts**/
  .art-font {
    font-family: Nanum Pen;
    font-weight: bolder;
    font-size: x-large;
  }
  .sports-font {
    font-family: Racing Sans One;
    font-weight: bolder;
    font-size: large;
  }
  .geek-font {
    font-family: Slackey;
    font-weight: bolder;
    font-size: large;
  }
  .anime-font {
    font-family: Marko One;
    font-weight: bolder;
    font-size: large;
  }
  .festif-font {
    font-family: Vampiro One;
    font-weight: bolder;
    font-size: large;
  }
  /**Fonts**/
}
