.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}
.titleContact {
  padding: 2rem;
}

.champ {
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ccc;
  padding: 1rem;
}
.champ:hover {
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
}

.icon {
  width: 2rem;
}
.barreSeperation {
  width: 90%;
  height: 4px;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.fomulaireSection {
  width: 100%;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.infoContactSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  font-weight: bold;
}

textarea {
  height: 150px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.formFormulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:;
}
@media only screen and (min-width: 992px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    padding: 20px;
    text-align: left;
    width: 100%;
  }
  .titleContact {
    padding: 2rem;
  }
  .champ {
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 1rem;
    width: 80%;
  }

  .icon {
    width: 2rem;
  }
  .barreSeperation {
    width: 4px;
    height: 25rem;
    background-color: black;
  }
  .infoContactSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    width: 40%;
    font-weight: bold;
  }
  .fomulaireSection {
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .formFormulaire {
    width: 80%;
  }
}
