.menu-desktop {
  background-image: url("./public/assets/home-banner6.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.section-new-desktop {
  margin-top: 25%;
}

.section-new-desktop h2 {
  font-family: var(--h1font);
  color: var(--primary-color);
  font-size: 3em;
  padding-top: 2vh;
  text-align: center;
}
.figure-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  margin-top: 5vh;
  padding-top: 2em;
  padding-bottom: 2em;
}

.figure-new:hover {
  border: 3px solid var(--primary-color);
  background-color: var(--fourth-color);
  transform: scale(1.1);
}

.figure-new h4 {
  color: var(--primary-color);
  font-size: 1.3em;
}
.figures-container {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: center;
  width: 80%;
  margin: auto;
}

.img-sock-home {
  max-width: 15vw;
  max-height: 15vw;
}
.img-illu-home {
  max-width: 30.5vw;
}

.img-poke-container-home-desktop,
.img-art-container-home-desktop {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.eventButton {
  font-size: 1.2em;
  opacity: 1;
}
.eventButton:hover {
  background-color: rgb(241, 118, 3);
}

@media screen and (max-width: 992px) {
  .menu-desktop {
    display: none;
  }
}
